<app-preloader></app-preloader>

<!-- header Start here -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-3 d-lg-block d-none">
                            <div class="logo">
                                <a routerLink=""><img [src]="logoImg1"
                                        style="width: 70px;"
                                        alt="Archaean Pro Design"><span class="h5 d-sm-inline d-none"></span></a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-12" id="navbar">
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <div class="container-fluid">
                                    <a class="navbar-brand d-block d-lg-none" routerLink="" id="logo"><img [src]="logoImg1"
                                        alt="Archaean Pro Design"></a>
                                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                        <ul class="navbar-nav">
                                            <li><a class="nav-link active"
                                                    routerLink="">Home</a></li>
                                            <li><a class="nav-link" routerLink="/about">About</a></li>
                                            <li class="dropdown">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
                                                    Design
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',4]">UI/UX</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',1]">Web Design</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
                                                    Development
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',3]">Web Development</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',12]"> MEAN Stack</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',13]"> MERN Stack</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',14]"> Full Stack</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',9]">Python</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',10]">C/C++</a></li>
                                                </ul>
                                            </li>

                                            <li class="dropdown">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
                                                    Architecture
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',5]">AutoCAD</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',15]">Revit</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',16]">3Ds Max</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',17]">Sketch Up</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',8]">Lumion</a> </li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',11]">Staad Pro</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',7]">Etabs</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',18]">Maya</a></li>
                                                </ul>
                                            </li>

                                            <li class=" dropdown">
                                                <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                                    id="navbarDropdownMenuLink" data-bs-toggle="dropdown">
                                                    Graphics
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',6]">Photoshop</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',19]">Coreldraw</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',20]">Illustrator</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',21]">In Design</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',22]">Premiere Pro</a></li>
                                                    <li><a class="dropdown-item" [routerLink]="['/courses','course-details',23]">After Effect</a></li>
                                                </ul>
                                            </li>
                                            <li><a class="nav-link" routerLink="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <!-- Mobile Menu -->
                        <!-- <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
<!-- header Start end -->

<app-popupform></app-popupform>