<footer>
    <div class="footer-wrappper footer-bg">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a routerLink=""><img src="../../assets/img/logo/logo.webp" style="max-width: 70px;" alt="Archaean Pro Design"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p class="my-3">
                                            <i class="fa fa-home"></i>
                                            <span class="ml-1" style="font-weight: 700;">Office Address: </span>
                                            <span>Shopping Complex, D-83, AB Rd, Opposite Dainik Bhaskar Complex, Front of
                                                IBus Stop, Indore, Madhya Pradesh 452011</span>
                                        </p>
                                        <p class="my-3">
                                            <i class="fab fa-whatsapp"></i>
                                            <span class="ml-1" style="font-weight: 700;">Phone: </span>
                                            <span><a href="tel:+91 93292 58015">+91 93292 58015</a></span>
                                        </p>
                                        <p class="my-3">
                                            <i class="fab fa-whatsapp"></i>
                                            <span class="ml-1" style="font-weight: 700;">Phone: </span>
                                            <span><a href="tel:+91 97546 71277">+91 97546 71277</a></span>
                                        </p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                    <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.instagram.com/archaeanpro/"><i
                                            class="fab fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/in/archaeanpro/"><i
                                            class="fab fa-linkedin"></i></a>
                                    <a href="https://api.whatsapp.com/send?phone=9329258015"><i
                                            class="fab fa-whatsapp"></i></a>
                                    <a href="https://api.whatsapp.com/send?phone=9754671277"><i
                                            class="fab fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Designs</h4>
                                <ul>
                                    <li><a [routerLink]="['/courses','course-details',1]">Web Design</a></li>
                                    <li><a [routerLink]="['/courses','course-details',4]">UI/UX</a></li>
                                    <li><a [routerLink]="['/courses','course-details',6]">Photoshop</a></li>
                                    <li><a [routerLink]="['/courses','course-details',20]">Illustrator</a></li>
                                    <li><a [routerLink]="['/courses','course-details',21]">In Design</a></li>
                                    <li><a [routerLink]="['/courses','course-details',19]">Coreldraw</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Architecture</h4>
                                <ul>
                                    <li><a [routerLink]="['/courses','course-details',5]">AutoCAD</a></li>
                                    <li><a [routerLink]="['/courses','course-details',15]">Revit</a></li>
                                    <li><a [routerLink]="['/courses','course-details',16]">3Ds Max</a></li>
                                    <li><a [routerLink]="['/courses','course-details',17]">Sketch Up</a></li>
                                    <li><a [routerLink]="['/courses','course-details',8]">Lumion</a> </li>
                                    <li><a [routerLink]="['/courses','course-details',11]">Staad Pro</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Development</h4>
                                <ul>
                                    <li><a [routerLink]="['/courses','course-details',3]">Web Development</a></li>
                                    <li><a [routerLink]="['/courses','course-details',12]"> MEAN Stack</a></li>
                                    <li><a [routerLink]="['/courses','course-details',13]"> MERN Stack</a></li>
                                    <li><a [routerLink]="['/courses','course-details',14]"> Full Stack</a></li>
                                    <li><a [routerLink]="['/courses','course-details',9]">Python</a></li>
                                    <li><a [routerLink]="['/courses','course-details',10]">C/C++</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                    This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                        routerLink="https://designeyhub.com" target="_blank">Desigey Hub</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>