<!--? slider Area Start-->
<section class="slider-area slider-area2">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-11 col-md-12">
                        <div class="hero__caption hero__caption2">
                            <h1 data-animation="bounceIn" data-delay="0.2s">About us</h1>
                            <!-- breadcrumb Start-->
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                                    <li class="breadcrumb-item"><a routerLink="/about">about</a></li>
                                </ol>
                            </nav>
                            <!-- breadcrumb End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="services-area services-area2 section-padding40">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let item of services_area; let i=index">
                <div class="single-services mb-30">
                    <div class="features-icon">
                        <img [src]="item.img" alt="service_image{{i}}">
                    </div>
                    <div class="features-caption">
                        <h3>{{item.heading}}</h3>
                        <p>{{item.para}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--? About Area-1 Start -->
<section class="about-area1 fix pt-10">
    <div class="container p-5" style="background: #f8f8f8;">
        <div class="section-tittle">
            <h2 class="text-center">Who We Are</h2>
        </div>
        <h3 class="text-center">Learn new skills online & offline with top educators</h3>
        <div class="row align-items-center my-5">
            <div class="col-md-6 col-12">
                <!-- img -->
                <div class="right-img">
                    <img src="../../../assets/img/home/about-us.jpg" class="w-100" alt="Archaean Pro Design">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <p>
                            This is best training institute in Indore. We'll train you in coding, website designing &
                            Development and also we'll train you in interior designing. If you are interested in Stock
                            market then you will get a great & deep training of it. We have 8+ yr of experienced trainer
                            for
                            Web Designing & Development, Graphic Design, Digital Marketing & Python + DSA. And 10+ yr of
                            experienced for interior designing. And 8+ yr of experienced for Stock Market Traning.
                            You'll
                            get wonderful training of any stream. Get register yourself. Hurry Up....
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Focus on the Fundamentals.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Put Your Knowledge into Action.</p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Learn How to Code by Hand.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->


<!--? top subjects Area Start -->
<div class="topic-area section-padding40">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Explore top subjects</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let item of subjects">
                <div class="single-topic text-center mb-30">
                    <div class="topic-img">
                        <img [src]="item.img" alt="">
                        <div class="topic-content-box">
                            <div class="topic-content">
                                <h3><a href="javascript:void(0)">{{item.name}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="section-tittle text-center mt-20">
                    <a routerLink="/courses" class="border-btn">View More Subjects</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top subjects End -->