<!--? About Area-1 Start -->
<section class="about-area1 fix pt-10">
    <div class="support-wrapper align-items-center">
        <div class="left-content1">
            <!-- section tittle -->
            <div class="section-tittle section-tittle2 mb-55">
                <div class="front-text">
                    <h2 class="">Learn new skills online & offline with top educators</h2>
                    <p>Best training center in vijay nagar Indore. Archaean Pro Design is your partners in your journey towards a successful IT career. Our commitment is to provide you with top-notch IT training and best support to help you step confidently into the world of Information Technology.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="../../../assets/img/icon/right-icon.svg" alt="">
                </div>
                <div class="features-caption">
                    <p>Focus on the Fundamentals.</p>
                </div>
            </div>
            <div class="single-features">
                <div class="features-icon">
                    <img src="../../../assets/img/icon/right-icon.svg" alt="">
                </div>
                <div class="features-caption">
                    <p>Put Your Knowledge into Action.</p>
                </div>
            </div>

            <div class="single-features">
                <div class="features-icon">
                    <img src="../../../assets/img/icon/right-icon.svg" alt="">
                </div>
                <div class="features-caption">
                    <p>Learn How to Code by Hand.</p>
                </div>
            </div>
        </div>
        <div class="right-content1">
            <!-- img -->
            <div class="right-img">
                <img src="../../../assets/img/home/about.svg" alt="Archaean Pro Design">

                <div class="video-icon">
                    <img src="../../../assets/img/home/about.svg" alt="Archaean Pro Design">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->