<!--? About Area-1 Start -->
<section class="about-area1 fix pt-10" style="margin-top: 100px;">
    <div class="container p-5" style="background: #f8f8f8;">
        <div class="section-tittle">
            <h2 class="text-center">Who We Are</h2>
        </div>
        <h3 class="text-center" style="color: #ed1d26;">Learn new skills online & offline with top educators</h3>
        <div class="row align-items-center my-5">
            <div class="col-md-6 col-12">
                <!-- img -->
                <div class="right-img">
                    <img src="../../../assets/img/home/about-us.jpg" class="w-100" alt="Archaean Pro Design">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-55">
                    <div class="front-text">
                        <p>
                            This is best training institute in Indore. We'll train you in coding, website designing &
                            Development and also we'll train you in interior designing. If you are interested in Stock
                            market then you will get a great & deep training of it. We have 8+ yr of experienced trainer
                            for
                            Web Designing & Development, Graphic Design, Digital Marketing & Python + DSA. And 10+ yr of
                            experienced for interior designing. And 8+ yr of experienced for Stock Market Traning.
                            You'll
                            get wonderful training of any stream. Get register yourself. Hurry Up....
                        </p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Focus on the Fundamentals.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Put Your Knowledge into Action.</p>
                    </div>
                </div>

                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Learn How to Code by Hand.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->