<!--? Team -->
<section class="team-area section-padding40 fix">
    <div class="container p-5" style="background: #f8f8f8;">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-tittle text-center mb-55">
                    <h2>Community experts</h2>
                </div>
            </div>
        </div>
        <div class="team-active row">
            <div class="col-lg-3 text-center">
                <div class="cat-icon">
                    <img src="../../../assets/img/team/team1.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Mr. Urela</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="cat-icon">
                    <img src="../../../assets/img/team/team2.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Mr. Uttom</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="cat-icon">
                    <img src="../../../assets/img/team/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Mr. Shakil</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="cat-icon">
                    <img src="../../../assets/img/team/team4.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Mr. Arafat</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="cat-icon">
                    <img src="../../../assets/img/team/team3.png" alt="">
                </div>
                <div class="cat-cap">
                    <h5><a href="services.html">Mr. saiful</a></h5>
                    <p>The automated process all your website tasks.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services End -->