<app-hero></app-hero>
<app-home-service></app-home-service>
<app-home-about></app-home-about>
<app-home-courses></app-home-courses>
<app-home-about2></app-home-about2>
<!-- <app-home-experts></app-home-experts> -->
<section class="call_to_action">

    <div class="bg-primary p-5 rounded-4">
        <div class="row align-items-center">
            <div class="offset-xl-1 col-xl-5 col-md-6 col-12">
                <div>
                    <h2 class="h1 text-white mb-3">Let’s find the right course for you!</h2>
                    <p class="text-white fs-4">…and achieve their learning goals. With our expert tutors,
                        your goals are
                        closer
                        than ever!</p>
                    <a class="btn mx-2" href="tel:+91 97546 71277">Call Now</a>
                    <a class="btn mx-2" routerLink="/courses">View All Courses</a>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 col-12">
                <div class="text-center">
                    <img src="../../assets/img/cta/course.png" alt="learning" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>