<!--? About Area-3 Start -->
<section class="about-area3 fix">
    <div class="container p-5" style="background: #f8f8f8;">
        <div class="row align-items-center">
            <div class="col-md-6 col-12">
                <!-- img -->
                <div class="right-img">
                    <img src="../../../assets/img/gallery/about3.png" class="w-100" alt="">
                </div>
            </div>
            <div class="col-md-6 col-12">
                <!-- section tittle -->
                <div class="section-tittle section-tittle2 mb-20">
                    <div class="front-text">
                        <h2 class="">Learner outcomes on courses you will take</h2>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Best techniques to learn, how to code.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Best hand written notes.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Will join our frelancing project & get experience certificate.</p>
                    </div>
                </div>
                <div class="single-features">
                    <div class="features-icon">
                        <img src="../../../assets/img/icon/right-icon.svg" alt="">
                    </div>
                    <div class="features-caption">
                        <p>Get job apportunity in IT sector.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Area End -->